{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <div>
        <label >对于app下的static/*/amis_json/ templates/*/amis_json/目录下的json文件，会自动添加为页面.</label>
        <form action="auto_add_action/" method="POST">
            {% csrf_token %}
                <button type="submit">自动添加</button>
        </form>
        <!--
        <form action="auto_del_action/" method="POST">
            {% csrf_token %}
                <button type="submit">自动删除</button>
        </form> -->
    </div>
    <br />
    {{ block.super }}
{% endblock %}